<h1>Kunden:</h1>
<app-customer [customer]="customer1"></app-customer>
<app-customer [customer]="customer2"></app-customer>

<!-- Erweitertes Beispiel: Hier wird die Liste der Kunden ausgegeben -->
<h1>Kunden Liste:</h1>
<div *ngFor="let c of customerList">
    <app-customer [customer]="c"></app-customer>
</div>